/* Write your CSS here */
.bg-container {
  display: flex;
  justify-content: center;
}

.events-details {
  display: flex;
}

.events-container {
  background-color: #64748b;
  padding: 20px;
  width: 40vw;
}

.events-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.heading {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}
