/* Write your CSS here */
.event-results-container {
  background-color: #ffffff;
  color: #64748b;
  width: 40vw;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.event-results-suggestion {
  color: #64748b;
  font-size: 30px;
}

.register-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yet-register-image {
  height: 200px;
  background-size: cover;
}

.yet-to-register-content {
  color: #64748b;
  font-size: 25px;
}

.register-button {
  color: #ffffff;
  font-size: 15px;
  background-color: #0967d2;
  border-radius: 5px;
  border-width: 0;
  padding: 20px;
}

.registered-icon {
  height: 50px;
  background-size: cover;
}

.registrations-closed-image {
  height: 200px;
  background-size: cover;
}

.registrations-closed-heading {
  font-size: 30px;
  font-weight: bold;
  color: #323f4b;
}

.registrations-closed-content {
  color: #64748b;
  font-size: 20px;
}
