/* Write your CSS here */
.event-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.event-image {
  height: 100px;
  width: 200px;
  background-size: cover;
}

.event-name {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.event-place {
  color: #ffffff;
  font-size: 15px;
}
